
.user-card{
    height: 105px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    display: flex;  
    border-radius: 5%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.user-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.avatar-img{
    padding: 7px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 30px;
    text-align: center;
    justify-content: center;
}
p{
    font-size: 14px;
}
.card-data{
    display: block;
}
.details-container{
    text-align: center;
    justify-content: center;
}